.group {
  background: #335;
  width: 220px;
  margin: 0 auto 20px;
  display: grid;
  grid-template-columns: 130px 90px;
  border-radius: 15px;
  & input,
  select {
    background: none;
    border: 0;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
  & input:focus,
  select:focus {
    outline: none;
  }
  & input {
    padding-left: 10px;
    border-right: 1px solid rgb(243, 242, 242);
  }
  & select {
    padding: 15px;
  }
  & option {
    color: #fff;
    background-color: #335;
  }
}
